.example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/Go_Play.png');
    background-size: cover;
  }
  
  .mat-card-header {
    padding-top: 15px;
  }
  
  .comment-author {
    padding-top: 10px;
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
  }
  
  .delete-comment{
    padding-bottom: 15px;
  }
  
  .view-comments{
    padding-top: 5px;
  }